.is-loading.svelte-1txcrnd #etzDo5sCAIn2_tr.svelte-1txcrnd {
    animation: svelte-1txcrnd-etzDo5sCAIn2_tr__tr 3s linear infinite
}

@keyframes svelte-1txcrnd-etzDo5sCAIn2_tr__tr {
    0% {
        transform: translate(12px, 12px) rotate(0)
    }

    to {
        transform: translate(12px, 12px) rotate(1080deg)
    }
}

.is-loading.svelte-1txcrnd #etzDo5sCAIn3_tr.svelte-1txcrnd {
    animation: svelte-1txcrnd-etzDo5sCAIn3_tr__tr 3s cubic-bezier(.7, 0, .3, 1) infinite
}

@keyframes svelte-1txcrnd-etzDo5sCAIn3_tr__tr {
    0% {
        transform: translate(12px, 12px) rotate(0)
    }

    to {
        transform: translate(12px